
@supports (font-variation-settings: "wght" 900) {
  * {
    font-family: "Albert Sans";
    font-weight: 900;
  }
}

:root {
    --primary-text-color: #484242;
    --flat-yellow-color: #f5bf6f;
    --brown-text: #78624a;
    --text-field-bkgd-color: rgba(216, 218, 223, 0.3);
    --main-text: normal 700 1em "Anonymous Pro", sans-serif;
    --header-text: normal 900 2em "Albert Sans", serif;
  }

* {
  padding: 0;
  margin: 0;  
  font-family: "Albert Sans";
  font-weight: 900;
}

html {
  box-sizing: border-box;    
}

body {
  background: #fffdfd;    
}

header {
  width: 85%;
  height: 50px;
  padding: 25px 0;    
  margin: 3% auto 0 auto;
}

header h1 {
  font-optical-sizing: auto;
  font: var(--header-text);
  color: var(--primary-text-color);  
}

#theme-changer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  width: 200px;
  position: absolute;
  top: 55px;
  right: 50px;
}

menu:first-of-type {
  width: 125px;
  height: 15px; 
  /* border: 1px solid rgba(212,212,212, 0.9);  */  
  border-radius: 15px;  
  padding: 5px; 
}

menu li {
  display: inline-block;  
  list-style-type: none; 
  width: 15px;
  height: 15px;
  border-radius: 10px;  
  cursor: pointer;
}

menu li:nth-child(1) {
  background: #000;
  margin-left: 8px;
}

menu li:nth-child(2) {
  background: #ccc;
}

menu li:nth-child(3) {
  background: #ccc;
}

menu li:nth-child(4) {
  background: #ccc;
}

menu:last-of-type {
  width: 100px;
  height: 20px; 
  padding: 3px 3px 3px 25px; 
  cursor: pointer;
}

#overlay-button {
  width: 100%;
}

#overlay-button i:first-of-type {
  font-size: 1.4em;
}

#overlay-button i:last-of-type {
  font-size: 1.7em;
  margin-left: 20px;
}

main {
  width: 640px;
  height: 500px;
  margin: 10% auto 0 auto;
}

p {
  font: var(--main-text);
  color: var(--primary-text-color);
  margin: 10px 0;    
}

input[type='text'] {
  font: var(--main-text);
  background: var(--text-field-bkgd-color);   
  width: 100%;
  height: 40px;
  border: 1px solid #ede7e7;
  border-radius: 10px;  
  margin-bottom: 25px;
  padding-left: 15px;
  outline-color: #ede7e7;
}

textarea {
  font: var(--main-text);
  background: var(--text-field-bkgd-color);   
  width: 100%;
  height: 150px;
  border: 1px solid #ede7e7;
  border-radius: 10px;  
  margin-bottom: 25px;
  padding-top: 15px; 
  padding-left: 15px;  
  outline-color: #ede7e7;   
  resize: none;
}

button {  
  font: var(--main-text);
  background: var(--flat-yellow-color); 
  color: var(--primary-text-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 45px;
  float: right;
}

.notification-bar {
  background: var(--flat-yellow-color);    
  width: 100%;
  height: 35px;
  padding: 10px 0;   
  text-align: center;
  position: fixed;
  left: 0;
  animation: slideInFromBottom .7s ease forwards,
  slideOutFromBottom 2s ease forwards 2.3s;
}

/* Page overlay */

#library-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffdfd;
  padding: 1%;
}

#library-overlay header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 50px;
}

#close {
  width: 50px;
  cursor: pointer;
}

#library-overlay h2 {
  width: 25%; 
  font:  normal 900 1.4em "Albert Sans", serif;
}

#overlay-content {
  width: 85%;
  margin: 3% auto 0 auto;
}

#overlay-content h4 {
  font: normal 900 1.2em"Albert Sans", serif;
  text-transform: capitalize;

}

#overlay-content sup {
  font: italic 700 0.9em "Anonymous Pro", sans-serif;
  color:#484242;
}

#overlay-content p {
   font: var(--main-text); 
   text-transform: capitalize;
   margin-bottom: 30px;
}

#library-overlay footer {
  width: 100%;
  background: var(--flat-yellow-color);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3%
}

#library-overlay footer h2 {
  width: 45%; 
}

#library-overlay footer p {
  font: var(--main-text); 
  text-transform: capitalize;
}

#library-overlay footer p:nth-child(odd) {
  font: italic 700 0.9em "Anonymous Pro", sans-serif;
  color:#484242;
}

#library-overlay footer p:nth-child(even) {
  font: normal 900 1em "Anonymous Pro", sans-serif;
}

footer div {
  width: 75%;
  margin: 0 auto;
}

.slideOverlay {
 /* animation here */
}

/***********/


/*  Word of The Day subscription */

#overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
}

#popover {
  background: #fafafa;
  width: 550px;
  height: 220px;
  border-radius: 15px;
  margin: 25% auto 0 auto;
  padding: 3% 5%;
}

#popover h2 {
  width: 75%; 
  font:  normal 900 1.4em "Albert Sans", serif;
  margin-top: 35px;
}

#popover p {
  font: normal 900 1em "Anonymous Pro", sans-serif;
}

#popover input {
  width: 98%;
  height: 40px;
  font: normal 900 1em "Anonymous Pro", sans-serif;
  border: 1px solid rgba(212,212,212,0.5);
  padding-left: 5px;
  margin: 10px 0;
  outline-color: rgba(212,212,212,0.9);
}

#popover input::placeholder {
  padding-left: 5px;
}

#popover button {
  cursor: pointer
}


/***********/

/* Keyframe animations and transitions */

@keyframes slideLeft {
  0% {
  }
  50% {
  }
  100% {
  }
}

@keyframes fadeInItem {
    0% {
      opacity: 0;   
    }

    100% {
      opacity: 1;
    }
}

@keyframes fadeOutItem {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

@keyframes highlightText {
    0% {

    }

    100% {

    }
}

@keyframes slideInFromBottom {
    from {
      bottom: -75vh;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @keyframes slideOutFromBottom {
    from {
      bottom: 0;
      opacity: 1;
    }
    to {
      bottom: -75vh;
      opacity: 0;
    }
  }

  /***********/